.article-content {
  font-size: 16px;  // establishes em basis
  @media #{$mq_md} {
    font-size: 22px;
    font-weight: 300;
  }
  @media #{$mq_lg} {
    font-size: 24px;
  }

  .entry-title {
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 6px;
    @media #{$mq_md} {
      font-size: 2.625em;
      font-weight: 300;
    }
    @media #{$mq_lg} {
      font-size: 3em;
    }
  }

  .post-meta {
    font-size: 1em;
    @media #{$mq_md} {
      font-size: 0.75em;
    }
  }

  // Main Article Content
  .entry-content {

    .inner-wrapper {
      max-width: $bp_xl;
    }

    h2 {
      font-size: 2em;
      line-height: 1.125;
      font-weight: 400;
      margin-top: 2em;
      margin-bottom: 0.5em;
      @media #{$mq_md} {
        font-size: 1.625em;
      }
    }
    h3 {
      font-size: 1.75em;
      font-weight: 300;
      line-height: 1.375;
      margin-top: 1.75em;
      margin-bottom: 0.5em;
      @media #{$mq_md} {
        font-size: 1.375em;
        font-weight: 400;
      }
    }
    h4 {
      font-size: 1.25em;
      line-height: 1.375;
      font-weight: 500;
      margin-top: 1.625em;
      margin-bottom: 0.5em;
      @media #{$mq_md} {
        font-size: 1.25em;
        font-weight: 400;
      }
    }
    h5 {
      font-size: 1em;
      line-height: 1.125;
      font-weight: 500;
      margin-top: 1.625em;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      @media #{$mq_md} {
        font-size: 1em;
        font-weight: 500;
      }
    }
    table {
      h5 {
        margin-bottom: 0;
        margin-top: 0;
        text-transform: none;
      }
    }
    p,
    li {
      font-size: 1em;
      font-weight: 400;
      line-height: 1.625;
      max-width: 65ch; // accessibility recommendation is 80 max
      @media #{$mq_md} {
        font-weight: 300;
      }
    }
    p:not(:last-of-type) {
      margin-bottom: 1.5em;
    }
    figcaption {
      font-size: 1em;
      line-height: 1.125;
      @media #{$mq_md} {
        font-size: 0.75em;
      }
    }

    // emphasis
    strong,
    b {
      font-weight: 600;
      @media #{$mq_md} {
        font-weight: 500;
      }
    }
    strong,
    b,
    em {
      color: $c_truewhite;
      strong,
      b,
      em {
        color: #fff;
        font-size: 1.05em; // tiny bump in emphasis
      }
    }
    del {
      color: $c_light70;
    }
    a,
    span[style*="color:"] { // Exception for when color is manually changed in the WP editor
      strong,
      b,
      em,
      del {
        color: inherit;
      }
    }

    // de-emphasis
    sub {
      display: block;  // break to a new line
      @include f_smallest;

      a {
        color: $c_primary-dim;

        &[target="_blank"]::after {
          display: none;
        }

      }

    }

    // highlighting
    mark {
      background-color: mix(white, #ff26e5, 25%);
      color: #000;
      font-weight: 500;
      padding: 3px 6px;
    }

    // Text Links
    a {
      overflow-wrap: break-word;
      text-decoration: underline;
      word-break: break-word;
      word-wrap: break-word;
    }
    a[href^="#a_"]::after {
      content: '#';
      display: inline-block;
      font-size: 0.5em;
      margin: 0 0.25em;
      speak: none;
      vertical-align: text-top;
    }

    // lists
    ul,
    ol {
      padding-left: 2em;
      margin-bottom: 1.5em;

      ul, ol {
        border-color: $c_grey80;
        border-style: solid;
        border-width: 0;
        margin: 0.25em 2em 1em 0;
        padding-bottom: 0.25em;
        padding-right: 0.25em;
        padding-top: 0.25em;

        ul, ol {
          border-color: $c_grey70;

          ul, ol {
            border-color: $c_grey60;
          }

        }

      }

      &.no-bullets {
        list-style-type: none;
        padding-left: 1em;
      }

    }

    ul {
      list-style-type: disc;
      ul {
        list-style-type: square;
        ul {
          list-style-type: circle;
        }
      }
    }

    ol {
      list-style-type: decimal-leading-zero;

      li {

        &::marker {
          font-size: 0.875em;
        }

      }

      ol {
        list-style-type: upper-alpha;
        ol {
          list-style-type: lower-roman;
          ol {
            list-style-type: lower-alpha;
          }
        }
      }
    }

    li {

      &::marker {
        color: $c_light40;
      }

    }

    // Images
    img {
      margin: 0 auto;
      max-width: 100%;
    }

    // inline emojis
    p img {
      display: inline;
    }

    .wp-block-image {
      margin-bottom: 1.5em;
    }

    figure {
      // center by default
      margin-left: auto;
      margin-right: auto;

      figcaption {
        margin: 8px 0 0;
        min-width: 240px; // prevent missing or skinny images from making caption text unreadable
        text-align: center;
      }

      &.alignleft,
      &.alignleft img {
        margin-left: 0;
        margin-right: 1em;
      }

      &.alignright,
      &.alignright img {
        margin-left: 1em;
        margin-right: 0;
      }

    }


    // Embeds
    .wp-block-embed {

      iframe {
        margin-left: auto;
        margin-right: auto;
      }

      &.is-type-video iframe {
        max-height: 100vh;
        min-height: 140px;  // google standard
        min-width: 140px;  // google standard
      }

      // Standard horizontal videos
      &.wp-embed-aspect-16-9 iframe,
      &.wp-embed-aspect-4-3 iframe {
        aspect-ratio: 16 / 9;
        height: auto;
        width: 100%;
      }

      // Vertical Videos
      &.wp-embed-aspect-9-16 iframe {
        // expanded header height = 72px, multiply by 2 for some buffer space for vertical scrolling to center
        height: calc(100vh - 144px);
        width: 100%; // allow side letterboxing
      }

      &.aligncenter .bluesky-embed {
        margin-left: auto;
        margin-right: auto;
      }

    }

    // Galleries
    .wp-block-gallery.has-nested-images {

      figure.wp-block-image {

        figcaption {
          background: $c_black;
          line-height: 1.25;
          opacity: 0;
          padding: 1rem;
          transition: opacity 0.5s ease-in-out;
        }

        &:hover {

          figcaption {
            opacity: 1.0;
          }

        }

      }

    }


    // Quotes
    .wp-block-quote {
      background: radial-gradient(ellipse at right top, rgba(0,0,0,0.125) 0%, rgba(0,0,0,0.25) 100%);
      border-left: 8px solid $c_primary-dark;
      margin: 2em 0;
      padding: 0.75em 0.75em 1.25em 1.25em;
      position: relative;

      &::before {
        color: $c_light80;
        content: '“';
        font-family: Georgia, serif;
        font-size: 3rem;
        left: 8px;
        position: absolute;
        top: 8px;
      }

      p,
      cite {
        line-height: 1.5;
      }

      p {
        margin-top: 0.5em;
      }

      cite {
        display: inline-block;
        font-size: 1em;
        margin-top: 1.25em;
        @media #{$mq_md} {
          font-size: 0.75em;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    .wp-block-pullquote {
      // Pull Quotes aren't usually actual Quotes. They're more for emphasis.
      margin: 2em auto;
      padding: 0;

      blockquote {
        border-color: $c_light20;
        border-style: solid;
        border-width: 1px 0;
        padding: 0.75em 0.75em 1.25em;
        text-align: center;
      }

    }

    // Horizontal Rules
    hr {
      margin: 2em auto;
      width: 60%;
      border: none;
      border-top: 1px solid $c_accent;
    }

    // Tables
    .wp-block-table {
      // WP container element
      margin-bottom: 3em;

      figcaption {
        height: 2.375em;  // attempt to prevent unwanted scrollbars
      }

      &.is-style-stripes tbody tr:nth-child(odd) {
        background-color: $c_grey80;
      }

    }

    table {
      border-collapse: collapse;
      font-size: 1em;
      line-height: 1.2;
      max-width: 100%;

      th,
      td {
        padding: 0.75rem;
        border: 1px solid $c_grey50;
        vertical-align: middle;
      }

      th {
        font-weight: 600;
        text-transform: uppercase;
      }

    }

    // pre-formatted
    pre {
      border: 1px solid $c_grey50;
      font-weight: 200;
      margin-bottom: 1em;
      padding: 8px;
    }

    .spoiler-text {
      background-color: $c_basetext;
      //color: $c_basetext;

      &::before {
        background-color: $c_black;
        content: '[highlight this text to read spoilers] ';
        display: inline;
      }

      a,
      strong,
      b,
      em,
      i {
        color: $c_basetext;
      }

    }

    // Utility Classes
    // For adding to elements in the WP editor

    // Spacing
    .sp_right_sm {
      margin-right: 0.5rem;
    }
    .sp_right_md {
      margin-right: 1rem;
    }
    .sp_right_lg {
      margin-right: 1.5rem;
    }

  }

  .entry-footer {
    // article-specific meta section (categories, tags)
    background-color: $c_grey40;

    .thanks-header {
      font-size: 1.625em;
      font-weight: 300;
      text-align: center;
      @media #{$mq_md} {
        font-size: 1.25em;
      }
    }

    p {
      font-size: 1em;
      font-weight: 400;
      @media #{$mq_md} {
        font-size: 14px;
        font-weight: 400;
      }
      a {
        white-space: nowrap;
      }
      &:first-of-type {
        margin-top: 2em;
      }
    }

  }

}
