.article-content.tag-animosity .entry-content {

  .thought {
    // inner thought bubbles
  }

  .tech-message {
    // messages sent "telepathically" through technology
  }

  .flashback {
    // Single lines and Groups of flashback copy
  }

  .glossary {
    // Group of game bible style world building text
  }

  .chaotic-text {
    //<span class="chaotic-text">yoU'vE beEn Doing tHis the whOlE tIme</span>
    // I need :nth-letter support for this one
  }

}

body.admin-bar.logged-in .entry-content {

  // deprecated fiction classes
  .speak,
  .thought-container,
  .thought-author,
  .thought-content,
  .thought-bottom,
  // chaotic text without accessibility
  .chaotic-text:no[aria-hidden="true"] {
    outline: 2px dashed $c_accent2;
    outline-offset: 0.25rem;
  }

}
