.article-content.tag-animosity .entry-content {

  .thought {
    // inner thought bubbles
    // based on https://codepen.io/quadbaup/pen/rKOKQv
    --thought-bg: rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
    background-color: var(--thought-bg);
    border-radius: 30px;
    border-width: 0;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    padding: 20px;
    position: relative;
    text-align: center;

    &:not(.alignleft):not(.alignright) {
      margin-left: auto;
      margin-right: auto;
    }

    @media #{$mq_lg} {
      max-width: 80%;
    }

    &::before,
    &::after {
      background-color: var(--thought-bg);
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
    }

    &::before {
      box-shadow: -50px 30px 0 -12px var(--thought-bg);
      height: 44px;
      left: 28px;
      top: -12px;
      width: 44px;
    }

    &::after {
      bottom: -10px;
      box-shadow: 40px -34px 0 0 var(--thought-bg),
                  -28px -6px 0 -2px var(--thought-bg),
                  -24px 17px 0 -6px var(--thought-bg),
                  -5px 25px 0 -10px var(--thought-bg);
      height: 30px;
      right: 26px;
      width: 30px;
    }

    cite {
      bottom: -1.625rem;
      color: $c_light70;
      position: absolute;
      right: 5.25rem;
    }

  }

  .wp-block-quote.tech-message {
    // messages sent "telepathically" through technology
    // based on https://codepen.io/josfabre/pen/EBMWwW
    --tech-bg: #{$c_primary-darker};
    --tech-fg: #{$c_white};
    --tech-shadow: rgba(0,0,0,0.1);
    $tech-size: 4px;
    $tech-border: 0 -1*$tech-size var(--tech-bg),
                  0 -2*$tech-size var(--tech-fg),
                  $tech-size 0 var(--tech-bg),
                  $tech-size -1*$tech-size var(--tech-fg),
                  2*$tech-size 0 var(--tech-fg),
                  0 $tech-size var(--tech-bg),
                  0 2*$tech-size var(--tech-fg),
                  -1*$tech-size 0 var(--tech-bg),
                  -1*$tech-size  $tech-size var(--tech-fg),
                  -2*$tech-size 0 var(--tech-fg),
                  -1*$tech-size -1*$tech-size var(--tech-fg),
                  $tech-size $tech-size var(--tech-fg);

    background-color: var(--tech-bg);
    border-width: 0;
    box-shadow: $tech-border, $tech-size 3*$tech-size var(--tech-shadow), 3*$tech-size $tech-size var(--tech-shadow), 2*$tech-size 2*$tech-size var(--tech-shadow); 
    color: var(--tech-fg);
    display: flex;
    font-family: 'Press Start 2P', monospace;
    line-height:1.25;
    margin: 8*$tech-size 0 12*$tech-size;
    min-width:200px;
    padding: 3*$tech-size;
    position: relative;
    width: fit-content;

    @media #{$mq_lg} {
      max-width: 80%;
    }

    &.mini {
      font-family: monospace;
      max-width: 60%;
      min-width: 110px;
      padding: 4px;
    }

    &::before {
      content: none;
    }

    *:not(cite) {
      order: 1;
    }

    cite {
      @include f_smallest;
      color: var(--c_secondary);
      left: 0.75rem;
      order: 0;
      position: absolute;
      top: -0.5rem;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
    }

    &::after {
      box-shadow: 
        0 -1*$tech-size var(--tech-fg), 
        0 -2*$tech-size var(--tech-fg), 
        0 -3*$tech-size var(--tech-fg), 
        0 -4*$tech-size var(--tech-fg), 
        -1*$tech-size -3*$tech-size var(--tech-fg), 
        -2*$tech-size -2*$tech-size var(--tech-fg), 
        -3*$tech-size -1*$tech-size var(--tech-fg), 
        -1*$tech-size -1*$tech-size var(--tech-bg), 
        -2*$tech-size -1*$tech-size var(--tech-bg), 
        -1*$tech-size -2*$tech-size var(--tech-bg), 
        -1*$tech-size 0 var(--tech-bg), 
        -2*$tech-size 0 var(--tech-bg), 
        -3*$tech-size 0 var(--tech-bg);
      height: $tech-size;
      left: 8*$tech-size;
      top: -2*$tech-size;
      width: $tech-size;
    }

    &.has-text-align-right {
      margin-left: auto;
      text-align: right;

      p {
        margin-left: auto;
      }

      cite {
        left: auto;
        right: 0.75rem;
      }

      &::after {
        background: var(--tech-bg);
        left: auto;
        right: 4*$tech-size;
      }

    }

    &.has-text-align-left::after {
      background: var(--tech-bg);
      box-shadow: 
        -1*$tech-size -1*$tech-size var(--tech-bg),
        -1*$tech-size 0 var(--tech-bg),
        -2*$tech-size 0 var(--tech-bg),
        0 -2*$tech-size var(--tech-bg),
        -1*$tech-size 1*$tech-size var(--tech-fg), 
        -2*$tech-size 1*$tech-size var(--tech-fg), 
        -3*$tech-size 1*$tech-size var(--tech-fg), 
        -4*$tech-size 1*$tech-size var(--tech-fg),
        -3*$tech-size 0 var(--tech-fg), 
        -2*$tech-size -1*$tech-size var(--tech-fg), 
        -1*$tech-size -2*$tech-size var(--tech-fg),
        0 -1*$tech-size var(--tech-bg);
      height: $tech-size;
      left: -2*$tech-size;
      top: 5*$tech-size;
      width: $tech-size;
    }

  }

  .flashback {
    // Single lines and Groups of flashback copy
  }

  .glossary {
    // Group of game bible style world building text
    border-color: $c_light30;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.25rem 1rem 1rem;

    &::before {
      @include f_smallest;
      content: 'Glossary';
      text-transform: uppercase;
    }

    .wp-block-group__inner-container *:first-child {
      margin-top: 0;
    }

  }

  .chaotic-text {
    //<span class="chaotic-text">yoU'vE beEn Doing tHis the whOlE tIme</span>
    // I need :nth-letter support for this one
  }

}

body.admin-bar.logged-in .entry-content {

  // deprecated fiction classes
  .speak,
  .thought-container,
  .thought-author,
  .thought-content,
  .thought-bottom,
  // chaotic text without accessibility
  .chaotic-text:no[aria-hidden="true"] {
    outline: 2px dashed $c_accent2;
    outline-offset: 0.25rem;
  }

}
