/* Campaign Template */

body.page-template-page_campaign-template {
  background: none; // override
  background-color: $c_white;
  color: $c_black;

  a,
  button {

    &:focus {
      outline-color: var(--cmpn_link);
      outline-offset: 4px;
      outline-style: dashed;
      outline-width: 2px;
    }

  }

  a {
    color: var(--cmpn_link);

    &:hover,
    &:focus {
      color: var(--cmpn_hover);
    }

    &:active {
      color: var(--cmpn_active);
    }

  }

  button,
  .cta a {
    background-color: var(--cmpn_link);
    border-color: var(--cmpn_link-dark);
    border-radius: 0.75em;
    border-style: solid;
    border-width: 2px;
    color: $c_truewhite;

    &:hover,
    &:focus {
      background-color: var(--cmpn_hover);
      border-color: var(--cmpn_hover-dark);
      color: $c_truewhite;
    }

    &:active {
      background-color: var(--cmpn_active);
      border-color: var(--cmpn_active-dark);
      color: $c_truewhite;
    }

  }

  button.cta,
  .cta a {
    background-color: var(--cmpn_hover);
    border-color: var(--cmpn_hover-dark);
    color: $c_truewhite;
    font-weight: 500;
    line-height: 1;
    padding: $gutter*0.5 $gutter;

    @media #{$mq_lg} {
      padding: $gutter_lg*0.5 $gutter_lg;
    }

    // @extend .i_arrow-right--after; and animate
    &::after,
    &[target="_blank"]:not([href*="corryfrydlewicz.com"])::after { // override
      content: "\edbb";
      display: inline-block;
      font-family: icomoon;
      font-size: 1em;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      margin-left: .375em;
      margin-top: 0;
      text-transform: none;
      transition-duration: 0.125s;
      transition-property: margin-left;
      transition-timing-function: ease-in;
      speak: none;
    }

    &:hover,
    &:focus,
    &:active {

      &::after,
      &[target="_blank"]:not([href*="corryfrydlewicz.com"])::after { // override
        margin-left: 0.75em;
      }

    }

    &:hover,
    &:focus {
      background-color: var(--cmpn_link);
      border-color: var(--cmpn_link-dark);
      color: $c_truewhite;
    }

    &:active {
      background-color: var(--cmpn_active);
      border-color: var(--cmpn_active-dark);
      color: $c_truewhite;
    }

  }

  .cta:not[button] {
    display: flex;

    a {
      align-items: center;
      display: flex;
      text-decoration: none;
      word-break: normal;
      word-wrap: normal;
    }

  }

  .article-content .entry-content .cta a {
    text-decoration: none;
  }

  .i_bluesky::before,
  .i_bluesky--after::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 9.65 580 510.68'%3E%3Cstyle%3E path%7Bfill:#{$c_primary-dark}%7D %3C/style%3E%3Cpath d='M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z'/%3E%3C/svg%3E%0A");
  }
  a.i_bluesky:hover::before,
  a.i_bluesky--after:hover::after,
  a.i_bluesky:focus::before,
  a.i_bluesky--after:focus::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 9.65 580 510.68'%3E%3Cstyle%3E path%7Bfill:#{$c_accent}%7D %3C/style%3E%3Cpath d='M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z'/%3E%3C/svg%3E%0A");
  }
  a.i_bluesky:active::before,
  a.i_bluesky--after:active::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 9.65 580 510.68'%3E%3Cstyle%3E path%7Bfill:#{$c_secondary-dark}%7D %3C/style%3E%3Cpath d='M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z'/%3E%3C/svg%3E%0A");
  }

  // macro layout
  .total-wrapper {
    background: none; // override
  }

  .inner-wrapper {
    max-width: $bp_xl;
  }

  .inner-wrapper--at-lg {

    @media #{$mq_lg} {
      max-width: $bp_xl;
    }

  }

  // header
  .site-header {

    .site-header-primary {
      background: none; // override
      background-color: $c_truewhite;
      border-width: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .site-header-secondary {
      background: none;
      background-color: $c_white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      a {
        border-width: 0;
        font-size: 1rem;
      }

    }

    .header-logo a {
      border-width: 0; // override

      &,
      &:active {
        color: var(--cmpn_link);

        path {
          fill: var(--cmpn_link);
        }

      }

      &:hover,
      &:focus {
        color: var(--cmpn_hover);

        path {
          fill: var(--cmpn_hover);
        }

      }

    }

    .logo-supplement-header {
      display: inline-block;
      font-size: 1.5rem;
      margin-left: 0.375em;

      @media #{$mq_md} {
        font-size: 1.875rem;
      }

    }

    .exposed-nav {
      margin-right: $gutter;

      @media #{$mq_lg} {
        margin-right: $gutter_lg;
      }

      ul {
        gap: $gutter;

        @media #{$mq_lg} {
          gap: $gutter_lg;
        }

      }

      button {
        height: $header_height - 6px;
        text-transform: uppercase;

        &:not(:hover):not(:active):not(:focus) {
          background-color: var(--cmpn_link);
          border-color: var(--cmpn_link-dark);
          color: $c_truewhite;
        }

      }

      .donate {

        button {
          @extend .i_close;
          position: relative;

          &:not(:hover):not(:active):not(:focus) {
            background-color: $c_grey50;
            border-color: $c_grey50;
          }

          &::before {
            color: red;
            left: 50%;
            opacity: 0.75;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.5);
            z-index: 1;
          }

        }

      }

      @media #{$mq_lg} { // when the full exposed nav is visible

        .issues,
        .donate {
          // underlap the Join CTA
          position: relative;
        }

        .issues {
          left: 54px;
        }

        .donate {
          left: 40px;
          z-index: 0;

          button {
            transform: rotate(-10deg);
          }

        }

        .join {
          z-index: 2;
        }

      }

    }

    .header-nav {

      > button {
        border-radius: 0;

        &:not(:hover):not(:active):not(:focus) {
          border-color: transparent;
          color: var(--cmpn_link);
        }

      }

      &[aria-expanded=true] {

        > button:not(:hover):not(:active):not(:focus) {
          background-color: var(--cmpn_active);
          border-color: var(--cmpn_active-dark);
          color: $c_truewhite;
        }

      }

      > nav {
        background-color: $c_white;

        a:not(:hover):not(:active):not(:focus) {
          border-left-color: var(--cmpn_link);
          color: $c_black;
        }

        a:hover,
        a:focus {
          background-color: $c_truewhite;
          border-left-color: var(--cmpn_hover);
        }

        a:active {
          background-color: $c_truewhite;
          border-left-color: var(--cmpn_active);
        }

      }

    }

    .article-progress-bar {
      background: linear-gradient(90deg, var(--cmpn_lightteal) 0, var(--cmpn_teal) 100%);
    }

  }

  // Page Content
  .article-content {

    .entry-header {
      background-color: var(--cmpn_paleteal);

      .inner-wrapper {
        display: flex;
        overflow-x: hidden;
      }

      .title-container {
        align-items: center;
        background: none;
        background-color: var(--cmpn_paleteal);
        clip-path: polygon(0 0%,100% 0,90% 100%,0 100%);
        display: flex;
        height: 100%;
        max-width: 70%;
        padding-right: 4%;
        position: absolute;
        top: 0;
        z-index: $z_cta;

        @media #{$mq_lg} {
          max-width: 70%;
        }

      }

      .entry-title {
        font-size: 1.5em;
        max-width: 170px;

        @media #{$mq_sm3} {
          font-size: 1.875em;
          max-width: 210px;
        }

        @media #{$mq_md} {
          font-size: 2em;
          max-width: 320px;
        }

        @media #{$mq_lg} {
          font-size: 2.5em;
          max-width: 380px;
        }

      }

      a {
        // featured image wrapper
        left: 10%;
        margin-left: auto;
        position: relative;
        z-index: $z_base;

        @media #{$mq_lg} {
          left: 0;
        }

      }

      img {
        margin-right: 0;
      }

    }

    .entry-content {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

      .inner-wrapper {
        background-color: $c_truewhite;
        padding-bottom: 2rem;
        padding-left: $gutter;
        padding-right: $gutter;
        padding-top: 2rem;

        @media #{$mq_xl} {
          padding-left: $gutter_lg;
          padding-right: $gutter_lg;
        }

      }

      b,
      em,
      strong {
        color: $c_trueblack;
      }

      .wp-block-quote {
        background: none; // override
        background-color: var(--cmpn_palerteal);
        border-left-color: var(--cmpn_teal);

        &::before {
          color: var(--cmpn_teal);
        }

      }

    }

  }

  // Footer
  footer {
    background-color: $c_light80;

    .inner-wrapper {
      padding-left: $gutter;
      padding-right: $gutter;

      @media #{$mq_xl} {
        padding-left: $gutter_lg;
        padding-right: $gutter_lg;
      }

    }

  }

  .thanks-for-reading {
    background-color: transparent;

    > .cta {
      width: 50%;
    }

  }

  .post-footer {
    margin-top: 0;
  }

  .pre-footer {
    text-align: center;
  }

  .site-footer {
    background: none;
    background-color: transparent;
    border-width: 0;
    filter: none;

    &::before { // override texture
      background: none;
      content: '';
      display: none;
    }

    section {
      border-width: 0;
    }

    .back-to-top {
      justify-content: flex-end;
    }

  }

}
