// Theme Base Colors
$c_primary:		#376c7c;
$c_secondary:	#3c377c;
$c_accent:		#e85f00;

// Secondary Colors
$c_black:				mix(black, $c_primary, 90%);
$c_grey20:			mix(black, $c_primary, 80%);
$c_grey30:			mix(black, $c_primary, 70%);
$c_grey40:			mix(black, $c_primary, 60%);
$c_grey50:      mix(#808080, $c_primary, 50%);
$c_grey60:			mix(white, $c_primary, 60%);
$c_grey70:			mix(white, $c_primary, 70%);
$c_grey80:			mix(white, $c_primary, 80%);
$c_white:				mix(white, $c_primary, 90%);

// Functional
$c_basetext:		$c_white;
$c_link:				$c_primary;
