body {
  color: $c_basetext;
  font-family: 'Arimo', helvetica, sans-serif; // critical
  font-size: 16px;
  @media #{$mq_lg} {
    font-size: 16px;
  }
  @media #{$mq_xl} {
    font-size: 20px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* sizes */
.f_small {
  font-size: .875rem;

  body.single main > article & {
    font-size: .875em;
  }
}
.f_smaller {
  font-size: .75rem;
  body.single main > article & {
    font-size: .75em;
  }
}
.f_smallest {
  font-size: .625rem;
  body.single main > article & {
    font-size: .625em;
  }
}
.f_large {
  font-size: 1.125rem;
  body.single main > article & {
    font-size: .1.125em;
  }
}
.f_larger {
  font-size: 1.25rem;
  body.single main > article & {
    font-size: 1.25em;
  }
}
.f_largest {
  font-size: 1.5rem;
  body.single main > article & {
    font-size: 1.5em;
  }
}

// Emphasis
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

// Links
a,
.fakelink {
  color: $c_link;
  text-decoration: none;
  &:hover {
    color: $c_hover;
  }
  &:active {
    color: $c_active;
  }
  &::after,
  &::before {
    // for links with icons in front of them
    font-size: 0.75em;
    margin: 0 0.375em;
  }
}

// General Copy
p,
li {
  font-size: 1rem;
}
p {
  line-height: 1.75;
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

// General Lists
ul,
ol {
  list-style: none;
}
li {
  line-height: 1.2;
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

// Quotes
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  &::before {
    content: open-quote;
    @extend .u_visually-hidden;
  }
  &::after {
    content: close-quote;
    @extend .u_visually-hidden;
  }
  p {
    display: inline-block;
    &:nth-last-child(2)::after {
      /* add close-quote after next-to-last p tag */
      content: close-quote;
    }
    &.cite {
      font-size: .875em;
      line-height: 1;
      margin-bottom: 0;
      text-align: right;
    }
  }
}
