body {
  color: $c_basetext;
  font-family: 'Montserrat', helvetica, sans-serif; // critical
  font-size: 16px;  // establishes rem basis
  @media #{$mq_md} {
    font-size: 16px;
  }
  @media #{$mq_lg} {
    font-size: 18px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* sizes */
.f_smallest {
  font-size: 0.625rem;
}
.f_smaller {
  font-size: 0.75rem;
}
.f_small {
  font-size: 0.875rem;
}
.f_medium {
  font-size: 1.125rem;
}
.f_large {
  font-size: 1.125rem;
}
.f_larger {
  font-size: 1.25rem;
}
.f_largest {
  font-size: 1.5rem;
}

// Emphasis
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

// Links
a,
.fakelink {
  color: $c_link;
  text-decoration: none;
  &:hover {
    color: $c_hover;
  }
  &:active {
    color: $c_active;
  }
  &::after,
  &::before {
    // for links with icons in front of them
    font-size: 0.75em;
    margin: 0 0.375em;
  }
}

// General Copy
h1,
h2,
h3,
h4,
h5,
p,
li,
figcaption {
  // Prevent orphaned words
  &::nth-last-word(2) { // maybe someday <3 https://css-tricks.com/a-call-for-nth-everything/
    white-space: nowrap;
  }
}
p {
  line-height: 1.5; // Accessibility standards recommend 1.5 - 2.0
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

// General Lists
ul,
ol {
  list-style: none;
}
li {
  line-height: 1.2;
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

// Quotes
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  p {
    display: inline-block;
  }
  cite ~ p:first-of-type::before {
    @extend .u_visually-hidden;
    content: open-quote;
  }
  cite ~ p:last-of-type::after {
    @extend .u_visually-hidden;
    content: close-quote;
  }
}
