// Icons - https://icomoon.io/app/

@font-face {
  font-display: swap;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/icomoon/icomoon.ttf?byte2f') format('truetype'),
       url('assets/fonts/icomoon/icomoon.woff?byte2f') format('woff'),
       url('assets/fonts/icomoon/icomoon.svg?byte2f#icomoon') format('svg');
}

@mixin icomoon {
  display: inline-block;
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  speak: none;
}

// define each icon (assume \e)
$icons: (
  alert: d52,
  arrow-down: dbf,
  arrow-left: dc3,
  arrow-right: dbb,
  arrow-up: db7,
  cards: d47,
  chat: ac5,
  calendar: a62,
  checkbox: e6e,
  checkbox-unchecked: e6f,
  checkmark: d6f,
  code: ecd,
  close: d6c,
  discord: ac5,
  exit: d7b,
  facebook: ef0,
  game: 96d,
  gdrive: eee,
  github: f0f,
  heart: cec,
  home: 901,
  info: d64,
  instagram: ef1,
  linkedin: f28,
  lol: d3a,
  magic: b6e,
  mail: a34,
  mastodon: ef5,
  menu: c6f,
  minus: d5c,
  movie: 961,
  music: 94e,
  nophone: a1e,
  pinterest: f30,
  plus: d5b,
  question: d54,
  rss: efb,
  search: b30,
  share: ec8,
  shopping: a06,
  spotify: ef3,
  stackoverflow: f2f,
  star: ce5,
  steam: f0c,
  stop: d6a,
  twitch: efe,
  twitter: ef5,
  youtube: efc,
  warning: d50,
  wiki: f27,
  wordpress: f13
);
@mixin icon-definitions {
  @each $label, $hex in $icons {
    &#{$label}::before,
    &#{$label}--after::after {
      @include icomoon;
      content: #{'"\\e' + $hex + '"'} !important;
    }
  }
}
.i_ {
  @include icon-definitions;
}

// inline text icons
p,
li {
  a[class^="i_"]{
    line-height: 1;
  }
}

// non-icomoon icons
.i_bluesky::before,
.i_bluesky--after::after {
  aspect-ratio: 1.1333/1;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 9.65 580 510.68'%3E%3Cstyle%3E path%7Bfill:#{$c_link}%7D %3C/style%3E%3Cpath d='M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z'/%3E%3C/svg%3E%0A");
  display: inline-block;
  height: 1em;
}
a.i_bluesky:hover::before,
a.i_bluesky--after:hover::after,
a.i_bluesky:focus::before,
a.i_bluesky--after:focus::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 9.65 580 510.68'%3E%3Cstyle%3E path%7Bfill:#{$c_hover}%7D %3C/style%3E%3Cpath d='M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z'/%3E%3C/svg%3E%0A");
}
a.i_bluesky:active::before,
a.i_bluesky--after:active::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='10 9.65 580 510.68'%3E%3Cstyle%3E path%7Bfill:#{$c_active}%7D %3C/style%3E%3Cpath d='M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z'/%3E%3C/svg%3E%0A");
}

// Show Icons When Ready and Hide ALT text (for critical css)
.search-container {
  input[type="submit"] {
    @include visually-hidden;
  }
  button.i_search {
    align-items: center;
    display: flex;
  }
}

// Alert boxes
.disclaimer { // deprecated
  @extend .i_alert;
}

.alert {

  &.attention {
    @extend .i_star;
  }

  &.disclaimer {
    @extend .i_alert;
  }

  &.info {
    @extend .i_info;
  }

  &.question {
    @extend .i_question;
  }

  &.stop {
    @extend .i_stop;
  }

  &.warning {
    @extend .i_warning;
  }

}

.site-footer .follow-container {
// wrapping text until icons load
  ul {
    flex-wrap: nowrap;
  }
  li {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  a {
    font-size: 24px;
    &::before {
      margin: 0;
    }
  }
  span {
    @include visually-hidden;
  }
}

// Icons in Article Content
.article-content .entry-content {

  // Exit Links
  a[target="_blank"]:not([href*="corryfrydlewicz.com"])::after {
    // External links without a specific icon
    @include icomoon;
    content: "\ed7b";
    font-size: 0.5em;
    margin: 0.5em 0 0 0.375em;
    vertical-align: text-top;
    @media #{$mq_md} {
      font-size: 0.375em;
    }

    // Email links
    &[href*="mailto:"],
    &[href="/emailsubscribe"] {
      @extend .i_mail--after;
    }

    // URL Detection
    &[href*="amazon.com"] {
      @extend .i_shopping--after;
    }
    &[href*="disneyplus.com"],
    &[href*="hbogo.com"],
    &[href*="hbomax.com"],
    &[href*="max.com"],
    &[href*="hbonow.com"],
    &[href*="hulu.com"],
    &[href*="netflix.com"] {
      @extend .i_movie--after;
    }
    &[href*="spotify.com"] {
      @extend .i_spotify--after;
    }
    &[href*="youtube.com"],
    &[href*="youtu.be"] {
      @extend .i_youtube--after;
    }
    &[href*="docs.google.com"],
    &[href*="drive.google.com"] {
      @extend .i_gdrive--after;
    }
    &[href*="github.com"],
    &[href*="github.io"] {
      @extend .i_github--after;
    }
    &[href*="bsky.app"] {
      @extend .i_bluesky--after;
    }
    &[href*="facebook.com"] {
      @extend .i_facebook--after;
    }
    &[href*="instagram.com"] {
      @extend .i_instagram--after;
    }
    &[href*="linkedin.com"] {
      @extend .i_linkedin--after;
    }
    &[href*="pinterest.com"],
    &[href*="pin.it"] {
      @extend .i_pinterest--after;
    }
    &[href*="twitch.tv"] {
      @extend .i_twitch--after;
    }
    &[href*="twitter.com"] {
      @extend .i_twitter--after;
    }
    &[href*="wikipedia.org"] {
      @extend .i_wiki--after;
      &::after {
        margin-left: 0.25em;
        margin-right: 0.25em;
      }
    }
  }

  // Comment Prompts
  a[href="#a_respond"] {
    @extend .i_chat;

    &::after {
      content: '';  // override the anchor icon
    }

  }

}

// Post Footer
.discussion-container .post-footer_header {
  @extend .i_chat;
}
.follow-container .post-footer_header {
  @extend .i_heart;
}
.share-container .post-footer_header {
  @extend .i_share;
}
.comments-container .post-footer_header {
  @extend .i_chat;
}
.srpw-more-link {
  @extend .i_arrow-right--after;
}
