// Listing Pages


.time-nav {
	margin: 0 0 2rem;
	a {
		@extend .button-link;
		&:first-child {
			float: right;
		}
		&:last-child {
			float: left;
		}
	}
	&.time-nav--bottom {
		margin: 2rem 0;
	}
}	// .time-nav


.post-listing {

} // .post-listing

