// Environment Only - No Content Styling

$header_height: 40px;

.inner-wrapper {
  margin: 0 auto;
  max-width: 1056px;
  padding: 0 16px;
  width: 100%;
}

.total-wrapper {
  position: relative;

  > header,
  > footer {
    background-color: rgba($c_black, 0.5);
    &:hover {
      background-color: rgba($c_black, 0.95);
    }
    width: 100%;
    z-index: 1;
  }

  > header {
    // Above-the-fold and nav elements should be considered for critical css

    height: $header_height;
    position: fixed;

    .inner-wrapper {
      align-items: stretch;
      display: flex;
      max-height: $header_height;
    }

    .header-logo {
      flex-grow: 1;
      svg {
        height: 150%; // let the y dangle over
        z-index: 2;
        path {
          fill: $c_link;
        }
      }
      a {
        border-color: transparent;
        border-style: solid;
        border-width: 0 0 2px;
        display: block;
        height: 100%;
        padding: 4px 4px 2px;
        width: fit-content;
        &:hover {
          border-color: $c_white;
          svg path {
            fill: $c_white;
          }
        }
      }
    }

    .header-nav {
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 0 2px 0 0;
        }
      }
    }

    .header-search {
      .search-container {
        height: 100%;
      }
    }

  }

  main {
    padding-bottom: 60px;
  }

  > footer {
    bottom: 0;
    position: absolute;

    .inner-wrapper {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      @media #{$mq_md} {
        flex-wrap: nowrap;
      }
      justify-content: space-between;
    }

    section {
      padding: 4px 0;
    }

    .follow-container {
      ul {
        display: flex;
        justify-content: center;
        @media #{$mq_md} {
          justify-content: flex-end;
        }
        list-style: none;
        li {
          margin: 0 4px;
          a {
            font-size: 24px;
          }
        }
      }
    }

  }

}
