// Listing Pages
.pagination-container {
  @extend .bezel--vertical;
  color: transparent; // hide dash between links
  margin-bottom: 48px;

  .inner-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  a {
    @extend .bezel--horizontal;
    padding: 8px $gutter;
    @media #{$mq_lg} {
      padding-left: $gutter_lg;
      padding-right: $gutter_lg;
    }
    &:last-child {
      @extend .i_arrow-right--after;
      margin-left: auto;
    }
    &:first-child:not(:last-child) {
      @extend .i_arrow-left;
      margin-right: auto;
    }
  }

}

// non-homepage listing pages
body.category,
body.tag,
body.search,
body.archive {

  main {
    padding-top: $header_height + 8;
  }

  .listing-page-header {
    padding: 8px 0;
  }
  .page-title {
    @extend .f_larger;
  }

}

// Article Cards
.article-card {
  margin-bottom: 48px;
  position: relative;

  .entry-header {
    position: relative;

    &:hover a {
      @extend a:hover;
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }
    @media only screen and (max-width: 1023px) and (pointer: fine) {
      overflow: hidden;
      img {
        transition: all 0.2s ease-in-out;
      }
      &:hover img {
        transform: scale(1.125);
      }
    }
  }
  .title-container {
    @extend .thumbnail-overlay;
  }
  .entry-title {
    font-family: 'Montserrat', 'Arimo', sans-serif;
    font-size: 2.25em;
    font-weight: 400;
    line-height: 1;
  }

  .entry-content {
    @extend .bezel;
    @extend .grainy;
    padding: 12px 0;
  }

  .excerpt-container {
    padding-bottom: 44px;
    position: relative;
    width: 100%;
    @media #{$mq_md} {
      min-height: 38px; // enough space for CTA
      padding-bottom: 0;
    }
    p {
      margin: 0;
      max-width: 60ch;
      @media #{$mq_lg} {
        font-family: 'Montserrat', 'Arimo', sans-serif;
      }
    }
    a {
      @extend .button;
      bottom: 0;
      position: absolute;
      right: 0;
    }
    @media #{$mq_mouse} {
      a::after {
        transition: all 0.2s ease-in-out;
      }
      a:hover::after {
        margin: 0 0 0 0.75em;
      }
    }
  }

  .entry-footer {
    @extend .bezel;
    @extend .grainy;
    padding: 8px 0;
    .inner-wrapper {
      display: flex;
      flex-direction: column;
      @media #{$mq_md} {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .post-stats,
    .post-categories a {
      @extend .f_small;
    }
    .post-categories {
      display: flex;
      flex-wrap: wrap;
      @media #{$mq_md} {
        flex-wrap: nowrap;
      }
      li {
        display: inline;
        margin-bottom: 0;
        &:not(:last-child)::after {
          content: ', ';
          margin-right: 0.25em;
        }
      }
      a {
        white-space: nowrap;
      }
    }
  }

  @media #{$mq_lg} {
    .entry-content,
    .entry-footer {
      margin-left: auto;
      margin-right: auto;
      max-width: $thumbnail_width;
    }
  }

  // First Card (and Read More Card)
  &:first-of-type {

    @media #{$mq_lg} {
      .entry-header {
        background: linear-gradient(0deg, rgba($c_grey20,0.625), rgba($c_grey80,0.625));
      }
    }

    img {
      height: 65vh;
      max-width: none;
      transform: translateX(-10%);
      width: auto;
      @media #{$mq_md} {
        height: auto;
        transform: none;
        width: 100%;
      }
      @media #{$mq_lg} {
        max-height: 80vh;
        width: auto;
      }
    }
    .entry-title {
      font-size: 2.5em;
      font-weight: 400;
      @media #{$mq_md} {
        font-size: 3.5em;
        font-weight: 300;
      }
      @media #{$mq_lg} {
        font-size: 3em;
      }
    }
    .excerpt-container {
      padding-bottom: 16px;
      @media #{$mq_md} {
        padding-bottom: 0;
      }

      a {
        bottom: -16px;
        padding: 8px 16px;
        right: 2%;
        transform: rotate(2.5deg) scale(1.25);
        @media #{$mq_md} {
          bottom: -10px;
        }
      }

    }
  }

}
