// Listing Pages
.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
  a:last-child {
    @extend .i_arrow-right--after;
    margin-left: auto;
  }
  a:first-child:not(:last-child) {
    @extend .i_arrow-left;
    margin-right: auto;
  }
}

// non-homepage listing pages
body.category,
body.tag,
body.search,
body.archive {

  main {
    padding-top: $header_height + 8;
  }

  .page-header {
    padding: 8px 0;
  }
  .page-title {
    @extend .f_larger;
  }

}

// Article Cards
.article-card {
  margin-bottom: 24px;
  position: relative;

  .entry-header {
    position: relative;
  }

  .entry-title {
    @extend .f_largest;
  }

  img {
    // Post Thumbnail
  }
  @media #{$mq_mouse} {
    overflow: hidden;
    img {
      transition: all 0.2s ease-in-out;
    }
    &:hover img {
      transform: scale(1.125);
    }
  }

  .entry-title {
    font-size: 1.75em;
    line-height: 1;
  }

  .excerpt-container {
    p {
      margin: 0;
    }
    a {
      @extend .button;
    }
  }

  .post-meta {
    @extend .f_small;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    width: 100%;
    a {
      @extend .f_small;
    }
  }

  // First Card (and Read More Card)
  &:first-of-type {
    img {
      height: 65vh;
      max-width: none;
      transform: translateX(-10%);
      width: auto;
      @media #{$mq_md} {
        height: auto;
        transform: none;
        width: 100%;
      }
    }

    .entry-content {
      @extend .bezel;
      padding: 12px 0;
    }

    .excerpt-container {
      padding-bottom: 16px;
      position: relative;
      a {
        bottom: -16px;
        padding: 8px 16px;
        position: absolute;
        right: 2%;
        transform: rotate(2.5deg) scale(1.25);
      }
      @media #{$mq_mouse} {
        .excerpt-container a::after {
          transition: all 0.2s ease-in-out;
        }
        .excerpt-container a:hover::after {
          margin: 0 0 0 0.75em;
        }
      }
    }

    .entry-footer {
      @extend .bezel;
      padding: 8px 0;
      > div {
        flex-direction: column;
      }
      .post-categories {
        display: flex;
        flex-wrap: wrap;
        li {
          display: inline;
          margin-bottom: 0;
          &:not(:last-child)::after {
            content: ', ';
            margin-right: 0.25em;
          }
        }
        a {
          white-space: nowrap;
        }
      }
      @media #{$mq_md} {
        flex-direction: row;
        justify-content: space-between;
        .post-categories {
          flex-wrap: nowrap;
        }
      }
    }

  }

}

.listing-page .article-card {
}
