// Single Posts
.article-content.category-microblog {

  .article-content .entry-header img {
    max-height: 400px;
  }

}


// Microblogging Listing Page (Feed)
// https://corryfrydlewicz.com/category/microblog/
body.category-microblog {

  main .article-card {

    .entry-header {
      min-height: 146px;

      .post-categories {

        // hide obvious Microblog category from Microblog listing page
        a[href*="/category/microblog/"],
        .separator { // is this specific enough?
          display: none;
        }

      }

    }

    .entry-title {
      font-size: 1.5em;
    }

    @media #{$mq_md} {
      width: calc(50% - #{$gutter}); // subtract half of parent gap setting
    }

    @media #{$mq_lg} {
      width: calc(50% - #{$gutter_lg}); // subtract half of parent gap setting

      .entry-header {
        max-height: 30vh;
      }

    }

  }

}
