// Single Posts
.article-content.category-microblog {

  .article-content .entry-header img {
    max-height: 400px;
  }
  
  .entry-content {

    .wp-block-pullquote {

      &,
      blockquote p {
        // keep pullquotes normal size
        font-size: 1em;
      }

    }

  }

}


// Microblogging Listing Page (Feed)
// https://corryfrydlewicz.com/category/microblog/
body.category-microblog {

  .article-card {

    @media #{$mq_lg} {

      .entry-header {
        max-height: 30vh;
      }

    }

    .entry-title {
      font-size: 1.5em;
    }

    .published-on {
      display: none;
    }


    // Featured
    &:first-of-type {

      .entry-header {
        max-height: 30vh;
      }

      .entry-title {
        font-size: 1.75em;
      }

    }


    @media #{$mq_xl} {
      width: 21%;  // 4 per row

      // Feature first two
      &:nth-of-type(-n+2) {
        width: 46%;  // 2 per row

        .entry-title {
          font-size: 1.75em;
        }

      }

    }

  }

}
