// Mixins and Variables


// Theme Base Colors
$c_primary:             oklch(90.78% 0.153 180.5); // cyan
  $c_primary-hex:       #3effe5;
$c_secondary:           oklch(71.2% 0.346 336.4); // magenta
  $c_secondary-hex:     #ff26e5;
$c_accent:              oklch(71.5% 0.234 40.6); // orange
  $c_accent-hex:        #ff681e;
$c_dark-base:           #2e3c41; // murky teal
  $c_dark-base-oklch:   oklch(34.58% 0.0203 221.65);
  $c_dark-base-hex:     #2e3c41;
  $c_dark-base-rgb:     rgb(46, 60, 65);
$c_light-base:          #d6f3f0; // pale teal

// Variations
$c_primary-darker:      oklch(25% 0.111 180.5);
$c_primary-dark:        oklch(46.6% 0.111 180.5);
  $c_primary-dark-rgb:  #006c5c;
$c_primary-dim:         oklch(73.24% 0.15 180.5);
  $c_primary-dim-hex:   #00c6ad;
  $c_primary-dim-rgb:   rgb(0, 198, 173);
$c_primary-light:       oklch(94.4% 0.083 180.5);
$c_primary-lightest:    oklch(97.3% 0.019 180.5);

$c_secondary-dark:      oklch(46.6% 0.111 336.4);
$c_secondary-dim:       oklch(73.24% 0.15 336.4);
$c_secondary-light:     oklch(94.4% 0.083 336.4);
$c_secondary-lightest:  oklch(97.3% 0.019 336.4);

$c_accent-dark:         oklch(28.8% 0.089 47);
$c_accent-dim:          oklch(51.36% 0.169 43.84);
$c_accent-light:        oklch(89.56% 0.091 66.18);
$c_accent-lightest:     oklch(93.2% 0.057 66.18);

$c_accent2:             oklch(0.93 0.2442 122.83); // "gross" lime green
  $c_accent2-hex:       #ccff00;
  $c_accent2-rgb:       rgb(204,255,0);

// Shade Colors
$c_trueblack: mix(black, $c_dark-base, 99%);
$c_black:     mix(black, $c_dark-base, 90%);
$c_grey20:    mix(black, $c_dark-base, 80%);
$c_grey30:    mix(black, $c_dark-base, 70%); // #0e1214
$c_grey40:    mix(black, $c_dark-base, 60%);
$c_grey50:    mix(black, $c_dark-base, 50%); // #171e21
$c_grey60:    mix(black, $c_dark-base, 40%);
$c_grey70:    mix(black, $c_dark-base, 30%);
$c_grey80:    mix(black, $c_dark-base, 20%); // #253034 - rgb(37, 48, 52)
$c_grey90:    mix(black, $c_dark-base, 10%);
$c_light10:   mix(white, $c_dark-base, 10%);
$c_light20:   mix(white, $c_dark-base, 20%);
$c_light30:   mix(white, $c_dark-base, 30%);
$c_light40:   mix(white, $c_dark-base, 40%);
$c_light50:   mix(white, $c_dark-base, 50%);
$c_light60:   mix(white, $c_dark-base, 60%);
$c_light70:   mix(white, $c_dark-base, 70%);
$c_light80:   mix(white, $c_dark-base, 80%);
$c_white:     mix(white, $c_dark-base, 90%);
$c_truewhite: mix(white, $c_dark-base, 99%);


// Functional Color Designations
$c_basetext:  $c_white;
$c_link:      $c_primary;
$c_hover:     $c_accent;
$c_active:    $c_secondary;
$c_visited:   $c_primary-dim;


// Sizing and Spacing
$border-radius:             12px;
$footer_height:             34px; // primary footer (lg breakpoint is only predictable height)
$header_height:             40px; // primary fixed header
$header_height--secondary:  30px; // secondary fixed header
$header_height--max:        $header_height + 2px + $header_height--secondary; // +2 for borders
$gutter:                    16px;
$gutter_lg:                 24px;
$thumbnail_width:           1024px;


// Breakpoints
$bp_min: 360px; // Samsung S6+, Samsung Note, iPhone 12 Mini
$bp_sm:  375px; // iPhone 6+
$bp_sm2: 412px; // iPhone 11+
$bp_sm3: 480px;
$bp_md:  768px; // iPad
$bp_lg:  1024px; // Landscape Tablets, Laptops
$bp_xl:  1024px + $gutter_lg*2; // Laptops, Desktops
$bp_max: 1336px; // site width cap


// Media Query Shortcuts
$mq_sm      : "only screen and (min-width: #{$bp_sm})";
$mq_sm2     : "only screen and (min-width: #{$bp_sm2})";
$mq_sm3     : "only screen and (min-width: #{$bp_sm3})";
$mq_sm-only : "only screen and (max-width: #{$bp_md - 1})";
$mq_md      : "only screen and (min-width: #{$bp_md})";
$mq_lg      : "only screen and (min-width: #{$bp_lg})";
$mq_xl      : "only screen and (min-width: #{$bp_xl})";
$mq_max     : "only screen and (min-width: #{$bp_max})";
$mq_touch   : "only screen and (pointer: coarse)";
$mq_mouse   : "only screen and (pointer: fine)";


// Font Sizes - use important tags to override without overly complex selectors
@mixin f_smallest {
  font-size: 12px !important;
}
@mixin f_smaller {
  font-size: 0.75rem !important;
}
@mixin f_small {
  font-size: 0.875rem !important;
}
@mixin f_medium {
  font-size: 1.125rem !important;
}
@mixin f_large {
  font-size: 1.125rem !important;
}
@mixin f_larger {
  font-size: 1.25rem !important;
}
@mixin f_largest {
  font-size: 1.5rem !important;
}


// Accessibility
@mixin visually-hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}


// Buttons
@mixin button($size:null) {
  background-color: $c_primary;
  border-color: $c_primary-dim;
  border-radius: $border-radius;
  border-style: solid;
  border-width: 2px;
  color: $c_trueblack;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    background-color: $c_hover;
    border-color: $c_accent-dim;
    color: $c_trueblack;
  }

  &:active {
    background-color: $c_active;
    border-color: $c_accent-dim;
    color: $c_trueblack;
  }

  &:focus {
    outline: 1px dashed $c_primary;
    outline-offset: 4px;
  }

  @if $size == 'big' {
    padding: 8px 16px;
    transform: scale(1.25);

  } @else if $size == 'small' {
    @include f_small;
    padding: 6px 4px;

  } @else {
    padding: 8px;
  }

}
