
$border-radius: 12px;

// Buttons
.button {
  background-color: $c_primary;
  border-color: mix(black, $c_primary, 25%);
  border-radius: $border-radius;
  border-style: solid;
  border-width: 2px;
  color: $c_trueblack;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  &:hover {
    background-color: $c_hover;
    border-color: mix(black, $c_hover, 25%);
  }
  &:active {
    background-color: $c_active;
    border-color: mix(black, $c_active, 25%);
  }
  &--small {
    @extend .f_small;
    border-radius: $border-radius/2;
    border-width: 1px;
    padding: 4px;
  }
}
button,
input[type="submit"] {
  @extend .button;
}

// Text Fields
input[type="text"],
input[type="search"],
textarea {
  background-color: $c_grey30;
  border-color: $c_trueblack;
  border-radius: $border-radius;
  border-style: solid;
  border-width: 2px;
  color: $c_truewhite;
  font-size: 1rem;
  padding-left: 8px;
  padding-right: 8px;
  &:focus,
  &:focus-visible {
    background-color: $c_trueblack;
    border-color: $c_active;
    outline-width: 0;
  }
}
textarea {
  resize: none;
}
label {
  cursor: pointer;
}

// Search
.search-container {
  padding: 4px 4px 4px 0;
  form {
    display: flex;
    height: 100%;
    > div {
      display: flex;
    }
  }
  label {
    align-items: center;
    display: flex;
  }
  input[type="text"],
  input[type="search"],
  button,
  input[type="submit"] {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }
  input[type="text"],
  input[type="search"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 2px;
    width: 100px;
    @media #{$mq_md} {
      width: 160px;
    }
  }
  button,
  input[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 16px;
  }
}
