
$border-radius: 12px;

// Buttons
.button {
  background-color: $c_primary;
  border-color: mix(black, $c_primary, 25%);
  border-radius: $border-radius;
  border-style: solid;
  border-width: 2px;
  color: $c_trueblack;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  &:hover {
    background-color: $c_hover;
    border-color: mix(black, $c_hover, 25%);
    color: $c_trueblack;
  }
  &:active {
    background-color: $c_active;
    border-color: mix(black, $c_active, 25%);
    color: $c_trueblack;
  }
  &--small {
    @extend .button;
    @include f_small;
    padding: 6px 4px;
  }
  &--big {
    @extend .button;
    padding: 8px 16px;
    transform: rotate(2.5deg) scale(1.25);
  }
  @media #{$mq_touch} {
    min-height: 32px;
    min-width: 32px;
    label & {
      // exception for when label covers interaction
      min-height: 0;
      min-width: 0;
    }
  }
}
button,
input[type="submit"] {
  @extend .button;
}

// Text Fields
input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea {
  background-color: $c_grey30;
  border-bottom-color: $c_black;
  border-left-color: $c_trueblack;
  border-right-color: $c_black;
  border-top-color: $c_trueblack;
  border-radius: $border-radius;
  border-style: solid;
  border-width: 2px;
  color: $c_truewhite;
  font-size: 1rem;
  padding-left: 8px;
  padding-right: 8px;
  &:focus,
  &:focus-visible {
    background-color: $c_trueblack;
    border-color: $c_active;
    outline-width: 0;
  }
}
textarea {
  resize: none;
}
label {
  cursor: pointer;
}

// Search
.search-container {
  form {
    display: flex;
    height: 100%;
    > div {
      display: flex;
    }
  }
  label {
    align-items: center;
    display: flex;
    padding: 4px 4px 4px 0;
    @media #{$mq_touch} {
      min-height: 32px;
      min-width: 32px;
    }
  }
  input[type="text"],
  input[type="search"],
  button,
  input[type="submit"] {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }
  input[type="text"],
  input[type="search"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 2px;
    width: 100px;
    @media #{$mq_md} {
      width: 160px;
    }
  }
  button,
  input[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 16px;
  }
}

// Checkboxes
input[type="checkbox"] {
  background-color: $c_grey30;
  border-bottom-color: $c_black;
  border-left-color: $c_trueblack;
  border-right-color: $c_black;
  border-top-color: $c_trueblack;
  border-radius: $border-radius/2;
  border-style: solid;
  border-width: 2px;
  color: $c_truewhite;
  font-size: 1rem;
  &:focus,
  &:focus-visible {
    background-color: $c_trueblack;
    border-color: $c_active;
    outline-width: 0;
  }
  &:disabled {
    border-color: $c_grey30;
    cursor: not-allowed;
  }
}

// Alert / Warning Boxes
.disclaimer-container {
  @extend .i_warning;
  background-color: mix(black, $c_accent, 80%);
  border-color: $c_accent;
  border-style: solid;
  border-width: 1px;
  display: flex;
  margin-bottom: 1.25em;
  padding: 12px;
  &::before {
    font-size: 24px;
    margin-right: 12px;
  }
  > div {
    @include f_small;
  }
}
