/* About Page */
.page-id-640 {

	.entry-content .alignright {
		margin-left: 1em;
		max-width: 40%;
	}

	// Columns
	.third-col {
		float: left;
		width: 100%;
		@media #{$mq-md} {
			width: 33%;
		}
	}

	#years {
		margin: 0px;
		padding-bottom: 0px;
		a:hover {text-decoration: none;}
		h4 {
			margin: 2.5rem auto;
			a {
				display: block;
				background-position: 50% 100%;
				background-size: auto 20px;
				padding-bottom: 30px;
				&:last-child {margin-bottom: 0px;}
			}
			span {
				display: block;
				font-size: 1rem;
				line-height: normal;
				text-align: center;
				&.big {
					font-size: 6rem;
					line-height: 5rem;
				}
				&.small {
					font-size: .7rem;
					line-height: 1.1rem;
				}
			}
		}
	}

	.contact-me {
		h1, h2, p {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		p {
			font-size: 1.1rem;
			line-height: 1.6rem;
		}
		ul {
			list-style-type: none;
			padding-left: 0px;
			width:240px;
			margin: 2rem auto;
			li {
				line-height: 30px;
				background-repeat: no-repeat;
				padding-left: 40px;
				min-height: 30px;
				&.email {
					background-image: url('images/icon-contact.png');
					&:hover {background-image: url('images/icon-contact-hover.png');}
				}
				&.linkedin {
					background-image: url('images/icon-linkedin.png');
					&:hover {background-image: url('images/icon-linkedin-hover.png');}
				}
				&.skype {
					background-image: url('images/icon-skype.png');
					&:hover {background-image: url('images/icon-skype-hover.png');}
				}
				a {
					padding: 0px;
					border: none;
				}
			}
		}
	}
}
.meters-container {

	.meter {
		box-sizing: border-box;
		background-color: $c_grey20;
		padding: .2rem .5rem;
		h3 {
			white-space: nowrap;
			margin: 0px;
		}
		p {display:none;}	// WP randomly adds P tags in here for some reason >.<
	}
	.skill {
		color: #fff;
		background-color: mix(black, $c_basetext, 29%);
		background: repeating-linear-gradient( 45deg, mix(black, $c_basetext, 29%), mix(black, $c_basetext, 20%) 10px, mix(black, $c_basetext, 29%) 10px, mix(black, $c_basetext, 20%) 20px );
		margin-bottom: .5rem;
		&.level100 {
/*    &::after {content: "100%";}  */
			.meter {width: 100%;}
		}
		&.level95 {
/*    &::after {content: "95%";}  */
			.meter {width: 95%;}
		}
		&.level90 {
/*    &::after {content: "90%";}  */
			.meter {width: 90%;}
		}
		&.level85 {
/*    &::after {content: "85%";}  */
			.meter {width: 85%;}
		}
		&.level80 {
/*    &::after {content: "80%";}  */
			.meter {width: 80%;}
		}
		&.level75 {
/*    &::after {content: "75%";}  */
			.meter {width: 75%;}
		}
		&.level70 {
/*    &::after {content: "70%";}  */
			.meter {width: 70%;}
		}
		&.level65 {
/*    &::after {content: "65%";}  */
			.meter {width: 65%;}
		}
		&.level60 {
/*    &::after {content: "60%";}  */
			.meter {width: 60%;}
		}
		&.level55 {
/*    &::after {content: "55%";}  */
			.meter {width: 55%;}
		}
		&.level50 {
/*    &::after {content: "50%";}  */
			.meter {width: 50%;}
		}
		&.level45 {
/*    &::after {content: "45%";}  */
			.meter {width: 45%;}
		}
		&.level40 {
/*    &::after {content: "40%";}  */
			.meter {width: 40%;}
		}
		&.level35 {
/*    &::after {content: "35%";}  */
			.meter {width: 35%;}
		}
		&.level30 {
/*    &::after {content: "30%";}  */
			.meter {width: 30%;}
		}
		&.level25 {
/*    &::after {content: "25%";}  */
			.meter {width: 25%;}
		}
		&.level20 {
/*    &::after {content: "20%";}  */
			.meter {width: 20%;}
		}
		&.level15 {
/*    &::after {content: "15%";}  */
			.meter {width: 15%;}
		}
		&.level10 {
/*    &::after {content: "10%";}  */
			.meter {width: 10%;}
		}
		&.level5 {
/*    &::after {content: "5%";}  */
			.meter {width: 5%;}
		}
		&.level0 {
/*    &::after {content: "0%";}  */
			.meter {width: 0%;}
		}
	}
	p {
		text-align: center;
		margin: 1.6rem 0px 0px 0px;
	}
}
