@media print {

  // Hide elements that are irrelevant in print
  .header-nav,
  .header-search,
  .navigation-container,
  .site-header-secondary,
  .article-content .entry-footer,
  .post-footer .respond-container,
  .post-footer .discussion-container,
  .comment-list article .reply,
  .post-footer .share-container li:not(:first-child),
  .post-footer .follow-container,
  .post-footer .read-more-container,
  .site-footer .back-to-top,
  .site-footer .follow-container
  {
    display: none !important;
  }

  body {
    background-color: #fff;
    color: #000;

    a {
      color: $c_primary-dark;
    }

  }

  .site-header {
    margin-bottom: 1rem;
    position: relative;
  }

  .site-header-primary {
    background: none;
    border-width: 0;
  }

  .header-logo {

    > a {
      border-width: 0;

      &::after {
        align-self: center;
        color: #000;
        content: ' [corryfrydlewicz.com]';
      }

    }

    path {
      fill: $c_primary-dark;
    }

  }

  // Single Article Content
  .article-content {

    // Place Article Titles Above Thumbnail Images
    .entry-header {

      .inner-wrapper--at-lg {
        display: flex;
        flex-flow: column wrap;

        .title-container {
          background: transparent;
          order: 1;
          position: relative;
        }

        > a {
          // Thumbnail
          order: 2;

          img {
            height: auto;
            left: 0;
            margin-bottom: 1rem;
            max-height: none;
            max-width: 100%;
            transform: none;
          }

        }

      }

    }

    .entry-content {

      a[href^="http"]:not([href*="corryfrydlewicz.com"])::after {
        // Append External Link URLs in print
        color: #000;
        content: " [" attr(href) "]";
        display: inline;
        font-family: Consolas, sans-serif;
        font-size: 1em;
        margin: 0;
      }

      a[href^="http"][href*="facebook.com"]:not([href*="corryfrydlewicz.com"])::after {
        // override Facebook URLs - they're too long and fuck Meta
        content: " [https://www.facebook.com/groups/4912504758808432/?ref=share]";
      }

      p {
        max-width: 100%;  // may make it less readable, but will waste less paper
      }

      b,
      em,
      strong {
        color: #000;
      }

    }

  }

  .post-footer section {
    background: transparent;
    border-width: 1px 0 0;
  }

  .comment-list article {
    background: transparent;
    page-break-inside: avoid;
  }

  .site-footer {
    // move copyright to top-right
    background: transparent;
    border-width: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  // in the odd edge case where someone wants to print an index page...
  .listing-page {
    padding-top: 0;

    .article-card {

      .title-container {
        background-color: rgba(255,255,255,0.75);

        h2 a {
          color: #000;
        }

      }
      .entry-content {
        background: transparent;

        .excerpt-container {
          padding-bottom: 0;

          a {
            display: none;
          }

        }

      }

      .entry-footer {
        background: transparent;
        border-top-width: 0;

        .post-categories .u_visually-hidden {
          // Add context for print
          font-size: 0.875rem;
          font-weight: 500;
          height: auto;
          left: 0;
          position: relative;
          width: auto;
        }

      }

    }

    .pagination-container {
      display: none;
    }

  }

}
