// Resets & Personal preferences
* {
  box-sizing: border-box;
  max-width: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, b, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background-repeat: no-repeat;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
embed,
iframe,
img,
video {
  display: block;
  height: auto;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
button {
  border-width: 0;
  padding: 0;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: none;
}
blockquote, q {
  quotes: "" "";
}
