// WordPress Tweaks

// Backend Helpers
body.admin-bar.logged-in {

  &.single,
  &.page {

    // Content Area
    main > article .entry-content {

      // Mark unlinked post images
      img:not(.emoji) {
        outline: 2px dashed $c_secondary;
      }

      // Mark images without ALT text
      img:not([alt]),
      img[alt=""] {
        outline: 2px dashed $c_accent;
      }

      // Unmark behaving images
      a img[alt]:not([alt=""]):not(.emoji) {
        outline: none;
      }

    }

  }

}

// Plug-In: FirelightWP Lightbox
#fancybox-content {
  border-color: $c_dark-base !important;
}

// Plug-In: Smart Recent Posts Widget
.srpw-aligncenter.srpw-aligncenter {
  margin: 0;
}
.srpw-block.srpw-block li {
  padding: 0;
}
