// WordPress Tweaks

html[lang] {
  margin-top: 0 !important; // override WP Admin bar
}

// Backend Helpers
body.admin-bar.logged-in {

  .u_attn {
    outline: 2px dashed $c_accent2;
    outline-offset: 0.5em;
  }

  .site-header {
    top: $admin-bar-height--sm;

    @media #{$mq_admin} {
      // when the WP Admin Bar changes
      top: $admin-bar-height--lg; // height of desktop admin bar
    }

  }

  .main-columns-wrapper {
    padding-top: $admin-bar-height--sm + $header_height + 2;

    @media #{$mq_admin} {
      padding-top: $admin-bar-height--lg + $header_height + 2;
    }

  }

  &.single,
  &.page {

    // Content Area
    main > article .entry-content {

      // Mark unlinked post images
      img:not(.emoji) {
        outline: 2px dashed $c_secondary;
      }

      // Mark images without ALT text
      img:not([alt]),
      img[alt=""] {
        outline: 2px dashed $c_accent;
      }

      // Unmark behaving images
      a img[alt]:not([alt=""]):not(.emoji) {
        outline: none;
      }

      .aside:not(.alert),  // deprecated without alert class
      .disclaimer:not(.alert) {  // deprecated without alert class
        outline: 2px solid $c_accent;
        outline-offset: 0.5em;
      }

    }

  }

}

// Plug-In: FirelightWP Lightbox
#fancybox-content {
  background-color: $c_dark-base !important;
  border-color: $c_dark-base !important;
  height: auto !important;
}
.fancybox-title-over {
  // move alt text beneath image in lightbox
  position: relative !important;
}
#fancybox-title {
  @include f_small;
  background-color: $c_dark-base !important;
  padding: 12px 2px 4px !important;
}

// Plug-In: Smart Recent Posts Widget
.srpw-aligncenter.srpw-aligncenter {
  margin: 0;
}
.srpw-block.srpw-block li {
  padding: 0;
}
