// add_editor_style( 'editor-style.css' ); to functions.php
.u_visually-hidden,
.u_hidden {
  opacity: 0.6;
  outline: 1px dashed $c_grey50;
}

.u_attn,
img:not([alt]),
img[alt=""],
.aside:not(.alert), // deprecated without alert class
.disclaimer:not(.alert) { // deprecated without alert class
  outline: 2px dashed $c_accent;
  outline-offset: 0.5em;
}

// Mark unlinked post images
img:not(.emoji) {
  outline: 2px dashed $c_secondary;
  outline-offset: 0.5em;
}

// Unmark behaving images
a img[alt]:not([alt=""]):not(.emoji) {
  outline: none;
}

.wp-block {

  // custom classes
  &.alert {
    border: 1px solid $c_primary-dim;
    padding: 4px 8px;
  }

}

blockquote.wp-block {
  border-left: 8px solid $c_primary-dark;
  padding-left: 1rem;
  position: relative; // probably redundant, but necessary

  &::before {
    color: $c_primary-dark;
    content: '“';
    font-family: Georgia, serif;
    font-size: 36px;
    left: -30px;
    position: absolute;
    top: -8px;
  }

}
