// WordPress Plug-Ins


// WP Alignment Classes
.aligncenter,
.alignright,
.alignleft {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&.wp-caption {
		margin-bottom: 1.5em;
		p,
		figcaption {
			font-size: .9rem;
			color: $c_grey;
			text-align: center;
			margin: .5em 0 0 0;
		}
	}
}
.aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}


// Simple Lightbox
#slb_viewer_wrap .slb_theme_slb_default,
#slb_viewer_wrap .slb_theme_slb_baseline {
	.slb_details {
		padding-top: 1rem;
	}
	.slb_group_status {
		display: block;
		font-size: 1rem;
		line-height: 1;
		color: $c_grey;
		font-style: normal;
		text-align: center;
		margin: .5rem 0px 0px 0px;
	}
	.slb_slideshow { display: none; }
	.slb_data_title { display: none; }
	.slb_data_desc { display: none; }
}


// ShareDaddy
.single {
	div.sharedaddy {
		margin-top: 4rem;

		// Stylized Background
		background-color: $c_black;

		// Hexes - From http://lea.verou.me/css3patterns/
		background:
			radial-gradient(circle farthest-side at 0% 50%,$c_black 23.5%,rgba(240,166,17,0) 0)21px 30px,
			radial-gradient(circle farthest-side at 0% 50%,$c_grey20 24%,rgba(240,166,17,0) 0)19px 30px,
			linear-gradient($c_black 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,$c_black 0)0 0,
			linear-gradient(150deg,$c_black 24%,$c_grey20 0,$c_grey20 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,$c_grey20 0,$c_grey20 76%,$c_black 0)0 0,
			linear-gradient(30deg,$c_black 24%,$c_grey20 0,$c_grey20 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,$c_grey20 0,$c_grey20 76%,$c_black 0)0 0,
			linear-gradient(90deg,$c_grey20 2%,$c_black 0,$c_black 98%,$c_grey20 0%)0 0 $c_black;
		background-size:40px 60px;

		box-sizing: border-box;
		padding: 1rem .5rem .25rem;
		text-align: center;
		h3.sd-title {
			@extend h3;
			color: #fff;
			margin-bottom: .5rem;
			&::before {
				display: none;	/* remove small line above share widget */
			}
		}
	}
}

