RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# BEGIN Custom Redirects

  # Bluesky
  Redirect 301 /bluesky https://bsky.app/profile/corry.us
  Redirect 301 /facebook https://bsky.app/profile/corry.us
  Redirect 301 /instagram https://bsky.app/profile/corry.us
  Redirect 301 /mastodon https://bsky.app/profile/corry.us
  Redirect 301 /twitter https://bsky.app/profile/corry.us

  # Contact
  Redirect 301 /contact /about/#a_contact

  # Discord
  Redirect 301 /discord https://discord.gg/WgMga84

  # LinkedIn
  Redirect 301 /linkedin https://www.linkedin.com/in/corryfrydlewicz/

  # Magic: The Gathering Decks
  Redirect 301 /mtgdecks https://www.moxfield.com/users/ultros

  # Music
  Redirect 301 /music https://open.spotify.com/user/1232018881?si=2dd1be0bb2304895

  # Patreon
  Redirect 301 /patreon https://patreon.com/CorryFrydlewicz

  # PayPal
  Redirect 301 /paypal https://paypal.me/CFrydlewicz?country.x=US&locale.x=en_US

  # Resume
  Redirect 301 /resume /uploads/misc/resume_CorryFrydlewicz.html

  # Newsletter
  Redirect 301 /emailsubscribe mailto:cfrydlewicz@gmail.com?subject=Corry's%20Blog%20Emails&body=I'd%20like%20to%20receive%20an%20occasional%20email%20when%20you%20post%20on%20your%20blog!%20%0AMy%20name%20is%20___

  # Venmo
  Redirect 301 /venmo https://venmo.com/u/Corry-Frydlewicz

  # Voting
  Redirect 301 /vote /tag/voting/

  # Emeryville Campaign Sign Up Form
  Redirect 301 /emeryville/signup https://docs.google.com/forms/d/e/1FAIpQLSfTFqmrz0ihuW0tNXddwZVkAzbDDB-HFAFfv-86y6uwuiCj1g/viewform?usp=dialog

# END Custom Redirects

# BEGIN AVIF Support
<IfModule mod_mime.c>
  AddType image/avif .avif
</IfModule>
# END AVIF Support

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    <IfModule mod_setenvif.c>
        # Netscape 4.x has some problems...
        BrowserMatch ^Mozilla/4 gzip-only-text/html

        # Netscape 4.06-4.08 have some more problems
        BrowserMatch ^Mozilla/4\.0[678] no-gzip

        # MSIE masquerades as Netscape, but it is fine
        # BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

        # NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
        # the above regex won't work. You can use the following
        # workaround to get the desired effect:
        BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

        # Don't compress images
        SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ no-gzip dont-vary
    </IfModule>

    <IfModule mod_headers.c>
        # Make sure proxies don't deliver the wrong content
        Header append Vary User-Agent env=!dont-vary
    </IfModule>
</IfModule>
